.header {
    font-family: monospace;
    padding: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
  }

.logo {
    font-size: 24px;
    color: #F9FAF8;
  }

ul {
    font-size: 18px;
    color: #E5E7EB
}

.header2{
    background-color: #1F2937;
    padding: 48px;
}

a {
    font-size: 48px;
    color: #F9FAF8;
    font-weight:bolder;
}

.header2 p{
    color: #E5E7EB;
    font-size: 18px;
}

.header2 img{
    display:flex;
    width: 10%;
    height: 10%;
    float: right;
    object-fit: contain;
}

button {
    background-color: #3882F6;
    border: none;
    color: #E5E7EB;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }